#landing-page {
    // general
    h1 {
      font-size: 1.25rem;
    }
    h2,
    h3 {
      text-align: center;
    }
  
    // sections
    header {
      background: rgba(0, 0, 0, 0.5);
      box-shadow: none;
      position: fixed;
  
      .logo-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        margin-right: 10px;
      }
  
      .logo {
        width: 38px;
      }
  
      h1 {
        margin: 0 10px 0 0;
      }
  
      a {
        transition: 0.2s;
  
        &:hover {
          color: $prime-color-4;
          cursor: pointer;
        }
      }
  
      button {
        color: #fff;
      }
  
      #top-nav {
        justify-content: space-between;
      }
  
      .top-nav-left {
        display: flex;
        align-items: center;
  
        a {
          padding: 0 10px;
        }
      }
  
      // material ui overrides
      button {
        transition: 0.2s;
  
        &:hover {
          color: $prime-color-4;
          background-color: transparent;
        }
      }
  
      span.MuiButton-label {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
  
        &::after {
          display: inline-block;
          margin-left: 0.255em;
          vertical-align: 0.255em;
          content: '';
          border-top: 0.3em solid;
          border-right: 0.3em solid transparent;
          border-bottom: 0;
          border-left: 0.3em solid transparent;
        }
      }
    }
  
    .landing-bg {
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, $prime-color-1, teal);
      position: fixed;
      top: 0;
    }
  
    #hero {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 352px;
      height: 352px;
      color: #fff;
      margin: auto;
      position: absolute;
      top: 22vh;
      right: 0;
      left: 0;
  
      .logo-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        height: 240px;
        background: #fff;
        border-radius: 50%;
        margin: 0 auto 20px;
      }
  
      .logo {
        width: 200px;
      }
  
      h2 {
        margin-bottom: 20px;
      }
  
      .github-buttons {
        display: flex;
        justify-content: center;
  
        > span {
          margin: 0 10px;
        }
      }
    }
  
    #features {
      background: $prime-color-5;
      padding: 80px 0;
      margin-top: 80vh;
      position: relative;
  
      h2 {
        margin-bottom: 40px;
      }
  
      figure.feature-item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto 80px;
  
        &:last-of-type {
          margin-bottom: 0;
        }
  
        > div {
          width: 50%;
        }
      }
  
      .image-frame {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      figcaption {
        padding: 0 40px;
      }
  
      ul {
        list-style-type: disc;
      }
  
      i {
        font-size: 100px;
        color: $prime-color-1;
        margin: 0 20px;
      }
    }
  
    #action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 752px;
      color: #fff;
      margin: 160px auto;
      position: relative;
  
      h2,
      h3 {
        margin-bottom: 40px;
      }
  
      #tool-group {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
      }
  
      i {
        font-size: 100px;
        color: #fff;
        margin: 0 10px 10px;
        transition: 0.2s;
      }
  
      p {
        font-size: 24px;
        color: #fff;
      }
  
      button {
        background: none;
        border: 0;
        padding: 0;
        margin: 0 10px;
  
        &:hover {
          i {
            color: $prime-color-4;
          }
        }
      }
    }
  
    #details {
      text-align: center;
      padding: 160px 0;
      background: $prime-color-5;
      position: relative;
  
      a {
        &:hover {
          i {
            color: $prime-color-4;
          }
        }
      }
  
      i {
        font-size: 100px;
        color: $prime-color-1;
        transition: 0.2s;
      }
    }
  
    #team {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-width: 1000px;
      margin: 160px auto;
      position: relative;
  
      h2 {
        color: #fff;
        margin-bottom: 40px;
      }
  
      #profile-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
  
        > div {
          &:nth-of-type(1) {
            .profile-frame {
              &:hover {
                .profile-photo {
                  background-image: url('../images/darren-funny.jpg');
                }
              }
            }
  
            .profile-photo {
              background: url('../images/darren.jpg') no-repeat center;
              background-size: cover;
            }
          }
  
          &:nth-of-type(2) {
            .profile-frame {
              &:hover {
                .profile-photo {
                  background-image: url('../images/kendall-funny.png');
                }
              }
            }
  
            .profile-photo {
              background: url('../images/kendall.jpg') no-repeat center;
              background-size: cover;
            }
          }
  
          &:nth-of-type(3) {
            .profile-frame {
              &:hover {
                .profile-photo {
                  background-image: url('../images/randy-funny.png');
                }
              }
            }
  
            .profile-photo {
              background: url('../images/randy.jpg') no-repeat center;
              background-size: cover;
            }
          }
  
          &:nth-of-type(4) {
            .profile-frame {
              &:hover {
                .profile-photo {
                  background-image: url('../images/krystal-funny.jpg');
                }
              }
            }
  
            .profile-photo {
              background: url('../images/krystal.jpg') no-repeat center;
              background-size: cover;
            }
          }
        }
  
        > i {
          font-size: 80px;
          padding-top: 40px;
  
          &:last-child {
            display: none;
          }
        }
      }
  
      .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
      }
  
      .profile-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        background: $prime-color-5;
        border-radius: 50%;
        margin-bottom: 10px;
  
        &:hover {
          .profile-photo {
            transform: rotateY(180deg);
          }
        }
      }
  
      .profile-photo {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        transition: 0.2s;
      }
  
      figcaption {
        font-size: 24px;
        text-align: center;
        color: #fff;
        margin-bottom: 4px;
      }
  
      .profile-links {
        display: flex;
        justify-content: center;
  
        a {
          margin: 0 10px;
        }
  
        i {
          transition: 0.2s;
  
          &:hover {
            color: $prime-color-4;
          }
        }
      }
  
      i {
        font-size: 40px;
        color: #fff;
      }
    }
  }