body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke !important;
}

h1, h2, h3 {
  font-family: 'Courier New', Courier, monospace !important;
}

#drop-menu-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5px;
}

#root {
  position: fixed;
  background-color: rgb(29, 31, 33);
  font-family: 'Courier New', Courier, monospace !important;
  
  height: 100%;
  width: 100%;
}

#observerContainers {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

#history-past-queries {
  width: 25%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  overflow: auto;
  border-right: 1px solid white;
  // border-top: 1px solid white;
  // border-radius: 8px;
  margin-right: 5px;

  #queryBox {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.1em solid #ffffff;  
    transition: all 0.2s;
  }

  #queryBox:hover {
    color: #000000;
    background-color: #ffffff;
  }

  @media all and (max-width: 30em) {
    #queryBox {
      display: block;
      margin: 0.4em auto;
    }
  }
}

#query-container {
  width: 37.5%;
  overflow: auto;
  overflow-y: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border-right: 1px solid white;
  // border-radius: 8px;
}

#response-container {
  width: 37.5%;
  height: 100%;
  overflow-y: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  // border: 1px solid white;
  // border-radius: 8px;
}

#schema-container {
  height: 100%;
  overflow-y: auto;
  // margin-left: 1rem;
  // padding-right: 10rem;
  // padding-left: 10rem;
  padding-top: 1rem; 
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 2;
  background-color: rgb(29, 31, 33);
  width: 35%;
  border: 1px solid white;
  margin-top: 115px;
  margin-right: 6px;
  margin-left: 6px;
}

#cache-container {
  height: 100%;
  overflow-y: auto;
  // margin-left: 1rem;
  // padding-right: 10rem;
  // padding-left: 10rem;
  padding-top: 1rem; 
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 2;
  background-color: rgb(29, 31, 33);
  width: 35%;
  border: 1px solid white;
  margin-top: 115px;
  margin-right: 6px;
  margin-left: 6px;
}

#query-hThree {
  text-align: center;
}

#response-hThree {
  text-align: center;
}

#schema-hThree {
  text-align: center;
}

#cache-hThree {
  text-align: center;
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

// #graphql-res {
//   box-sizing: border-box;
//   background-color: white;
//   box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
//   0 5px 15px 0 rgba(0,0,0,0.08);
//   padding: 20px 25px;
//   margin-bottom: 10px;
// }

// .graphql-heading {
//   margin-bottom: 10px;
// }

// #graphQLTab{
//   box-sizing: border-box;
//   display: grid;
//   grid-template-rows: 3fr 7fr;
//   grid-template-columns: 100%;
//   grid-template-areas:
//     'log-container'
//     'graphql';
//   padding: 10px;
// }
// #graphql-container {
//   grid-area: graphql;
//   margin-right: 0px;
//   min-height: 600px;
// }
// /* * To hide GraphQLTab */
// .hide{
//   display: none!important;
// }

#queryBox pre {
  background-color: green !important;
}

/* * To hide GraphQLTab */
.hide {
  display: none !important;
}

/* *for responsive use
@media screen and (min-width: 760px) {
  #graphQLTab{
    grid-template-rows: none;
    grid-template-columns: 3fr 7fr;
    grid-template-areas:
      'log-container graphql';
    max-height: 1200px;
    overflow-y: scroll;
  } */
/* } */

.hOne {
  display: flex;
  justify-content: center;
}

.header-container {
  display: grid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  grid-template-columns: auto auto auto auto auto auto auto auto 1rem;
  grid-gap: 10px 10px;
}

.header-item {
  background-color: #1db954;
  padding: 5px;
  border-radius: 8px;
  color: ghostwhite;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #fff;
  font-size: 15px;
}

.time-button {
  display: flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  background-color: #1db954;
  border-radius: 6px;
  color: ghostwhite;
  border: 1px solid #fff;
  font-size: 11px;
}

.item1{
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-content: center;
}

.item2{
  grid-column: 7;
}

.item3{
  grid-column: 8;
}

.pretty-json-container {
  font-size: 12px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace !important;
}

// #drop-menu-text {
//   display: flex;
//   justify-content: center;
//   align-content: center;
// }

#schema-data {
  width: 100%;
}

#cache-data {
  width: 100%;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}