@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Tomorrow Regular'), local('Tomorrow-Regular'), url(https://fonts.gstatic.com/s/tomorrow/v2/WBLmrETNbFtZCeGqgRXSe2DiLsip.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body{
  margin:0;
  font-family: 'Tomorrow';
  color: white;
}

#root {
  position: fixed;
  background-color: rgba(34, 35, 38, 0.7);
  height: 100%;
  width:100%;
}
#observerContainers {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
#history-past-queries {
  width: 20%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  overflow:auto;
}

#queryBox{
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border:0.1em solid #FFFFFF;
  transition: all 0.2s;
}

#queryBox:hover{
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  #queryBox{
    display:block;
    margin:0.4em auto;
  }
}

#query-container {
  margin-left: 20px;
  width: 40%;
  overflow:auto;
  margin-left: 1rem;
}


#response-container {
  width: 40%;
  height: 100%;
  overflow-y: auto;
  margin-left: 1rem;
}
.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

// #graphql-res {
//   box-sizing: border-box;
//   background-color: white;
//   box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
//   0 5px 15px 0 rgba(0,0,0,0.08);
//   padding: 20px 25px;
//   margin-bottom: 10px;
// }

// .graphql-heading {
//   margin-bottom: 10px;
// }

.graphql-response {
  height: 50%;
  font-family: 'Tomorrow';
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 15px;
  overflow: auto;
  transition: 5s ease all;
}

// #graphQLTab{
//   box-sizing: border-box;
//   display: grid;
//   grid-template-rows: 3fr 7fr;
//   grid-template-columns: 100%;
//   grid-template-areas:
//     'log-container'
//     'graphql';
//   padding: 10px;
// }
// #graphql-container {
//   grid-area: graphql;
//   margin-right: 0px;
//   min-height: 600px;
// }
// /* * To hide GraphQLTab */
// .hide{
//   display: none!important;
// }

/* *for responsive use
@media screen and (min-width: 760px) {
  #graphQLTab{
    grid-template-rows: none;
    grid-template-columns: 3fr 7fr;
    grid-template-areas:
      'log-container graphql';
    max-height: 1200px;
    overflow-y: scroll;
  } */
/* } */
